<p>
  Displaying {{ users.length }} users.
</p>


<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th >Nome</th>
    <th >Email</th>
    <th >Username</th>
    <th >Role</th>
    <th ></th>
    <th ></th>
  </tr>
  </thead>

  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.role }}</td>
      <td>
        
         <a class="btn btn-danger btn-xs" [routerLink]="['/user-list-form', user._id]" >Cambia ruolo</a>
      </td>
      <td>
        
          <a class="btn btn-danger btn-xs" (click)="deleteUser(user)" >Elimina</a>
         
        
      </td>
    </tr>
  </tbody>
</table>

